$theme: (
  screens: (
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1281px
  ),
  opacity: (
    '0': 0,
    '25': 0.25,
    '50': 0.5,
    '75': 0.75,
    '100': 1,
  ),
  colors: (
    transparent: transparent,
    white: #fff,
    black: #000,
    gray: #808080,
    primary: #7504f5,
    secendory: #0abdf3,
    warning: #ffa500,
    error: #ff0000,
    info: #1564e2,
    success: #00d66b
  ),
  spacings: (
    '0': 0,
    '1': 0.25rem,
    '2': 0.5rem,
    '3': 0.75rem,
    '4': 1rem,
    '5': 1.25rem,
    '6': 1.5rem,
    '8': 2rem,
    '10': 2.5rem,
    '12': 3rem,
    '16': 4rem,
    '20': 5rem,
    '24': 6rem,
    '32': 8rem,
    '40': 10rem,
    '48': 12rem,
    '56': 14rem,
    '64': 16rem
  ),
  font-size: (
    xxs: 0.5rem,
    xs: 0.75rem,
    sm: 0.875rem,
    base: 1rem,
    lg: 1.125rem,
    xl: 1.25rem,
    2xl: 1.5rem,
    3xl: 1.875rem,
    4xl: 2.25rem,
    5xl: 3rem,
    6xl: 4rem
  ),
  
  font-family: (
    base: '"Poppins", sans-serif',
    title: '"Roboto", sans-serif'
  ),
  
  box-shadow: (
    default: '0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)',
    md: '0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)',
    lg: '0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)',
    xl: '0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04)',
    '2xl': '0 25px 50px -12px rgba(0, 0, 0, 0.25)',
    inner: 'inset 0 2px 4px 0 rgba(0, 0, 0, 0.06)',
    outline: '0 0 0 3px rgba(66, 153, 225, 0.5)',
    none: 'none',
  ),
  width: (
    'auto': auto,
    '1-by-2': 50%,
    '1-by-3': 33.333333%,
    '2-by-3': 66.666667%,
    '1-by-4': 25%,
    '2-by-4': 50%,
    '3-by-4': 75%,
    '1-by-5': 20%,
    '2-by-5': 40%,
    '3-by-5': 60%,
    '4-by-5': 80%,
    '1-by-6': 16.666667%,
    '2-by-6': 33.333333%,
    '3-by-6': 50%,
    '4-by-6': 66.666667%,
    '5-by-6': 83.333333%,
    '1-by-12': 8.333333%,
    '2-by-12': 16.666667%,
    '3-by-12': 25%,
    '4-by-12': 33.333333%,
    '5-by-12': 41.666667%,
    '6-by-12': 50%,
    '7-by-12': 58.333333%,
    '8-by-12': 66.666667%,
    '9-by-12': 75%,
    '10-by-12': 83.333333%,
    '11-by-12': 91.666667%,
    'full': 100%,
    'screen': 100vw,
  ),
  transition: ()
);
