@import './scss/variables';
@import './scss/functions-mixins';
@import './scss/mini-reset';

@each $screen, $size in map-merge(('default': default ), map-deep-get($theme, 'screens')) {
  $prefix: '';
  @if $screen != 'default' {
    $prefix:'#{$screen}\\:';
  }
  @include screen ($screen, $size){
    @each $key, $val in $constants {
        @each $name, $value in map-deep-get($constants, $key) {
          $finalVal: $value;
          @if type_of($value) == 'string' {
            $finalVal: unquote($value);
          }
          @if $name == 'default' {
            .#{$prefix}#{$key}{
              #{$key}: $finalVal;
            }
          } @else {
            .#{$prefix}#{$key}-#{$name} {
              #{$key}: $finalVal;
            }
          }
        }
    }
    @each $key, $val in (default: 'default', min: 'min', max: 'max') {
      @each $key1, $val1 in (height: 'height', width: 'width') {
        @each $name, $value in map-merge(map-deep-get-values($theme, 'spacings'),map-deep-get-values($helper, $val1))  {
          @if $key == 'default' {
            .#{$prefix}#{$key1}-#{$name} {
              #{$val1}: $value;
            }
          } @else {
            .#{$prefix}#{$key}-#{$key1}-#{$name} {
              #{$val}-#{$val1}: $value;
            }
          }
        }
      }
    }

    @each $name, $value in map-merge(('auto': auto ), map-deep-get-values($theme, 'spacings')){
      .#{$prefix}margin-#{$name} {
        margin: $value;
      }
      @if $name != 'auto' and $value != 0 {
        .#{$prefix}-margin-#{$name} {
          margin: -$value;
        }
      }
      @each $direction, $direction-value in map-deep-get-values($helper, 'directions'){
        @if $direction == 'x' {
          .#{$prefix}margin-#{$direction}-#{$name} {
            margin-left: $value;
            margin-right: $value;
          }
          @if $name != 'auto' {
            @if $value != 0 {
              .#{$prefix}-margin-#{$direction}-#{$name} {
                margin-left: -$value;
                margin-right: -$value;
              }
            }
          }
        } @else if $direction == 'y' {
          .#{$prefix}margin-#{$direction}-#{$name} {
            margin-top: $value;
            margin-bottom: $value;
          }
          @if $name != 'auto' {
            @if $value != 0 {
              .#{$prefix}-margin-#{$direction}-#{$name} {
                margin-top: -$value;
                margin-bottom: -$value;
              }
            }
          }
        } @else {
          .#{$prefix}margin-#{$direction}-#{$name} {
            margin-#{$direction}: $value;
          }
          @if $name != 'auto' {
            @if $value != 0 {
              .#{$prefix}-margin-#{$direction}-#{$name} {
                margin-#{$direction}: -$value;
              }
            }
          }
        }
      }
    }

    @each $name, $value in map-deep-get-values($theme, 'spacings') {
      .#{$prefix}padding-#{$name} {
        padding: $value;
      }
      @each $direction, $direction-value in map-deep-get-values($helper, 'directions'){
        @if $direction == 'x' {
          .#{$prefix}padding-#{$direction}-#{$name} {
            padding-left: $value;
            padding-right: $value;
          }
        } @else if $direction == 'y' {
          .#{$prefix}padding-#{$direction}-#{$name} {
            padding-top: $value;
            padding-bottom: $value;
          }
        } @else {
          .#{$prefix}padding-#{$direction}-#{$name} {
            padding-#{$direction}: $value;
          }
        }
      }
    }
    
    @each $varName in map-deep-get-values($helper, 'variants') {
      $varPrefix : '';
      $varPostfix : '';
      @if $varName != 'default' {
        $varPrefix:'#{$varName}\\:';
        $varPostfix: '\:#{$varName}';
      }
      @each $name, $value in map-deep-get-values($theme, 'colors') {
        .#{$prefix}#{$varPrefix}text-color-#{$name}#{$varPostfix} {
          color: $value;
        }
        .#{$prefix}#{$varPrefix}border-color-#{$name}#{$varPostfix} {
          border-color: $value;
        }
        .#{$prefix}#{$varPrefix}background-color-#{$name}#{$varPostfix} {
          background-color: $value;
        }
      }
    }
  }
}
